* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

html {
    background: #191724; /* Background color of the entire page */
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    margin: 0;
    height: 70%;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 15px;
    background-color: #434867;
}

::-webkit-scrollbar-thumb {
    background-color: #26233a;
}

.button {
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    border-radius: 6px;
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
    background-color: #1f6feb;
    border: none;
    color: white;
    padding: 8px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* Nav Bar */
#navbar {
    position: sticky;
    font-family: 'Dosis', sans-serif;
    text-align: right;
    top: 0px;
    margin: 0px;
    overflow: hidden;
    z-index: 100;
    padding: 0px 20vw;
}

#navbar a {
    text-decoration: none; /* This shows text cleanly */
    font-size: 17px;
    box-sizing: border-box;
    display: inline-block;
    color: #e0def4;
    text-align: center;
    padding: 13px 10px;
}

/* Colors applied when hovering with the mouse through the buttons */
#navbar a:hover {
    background: #1f1d2e;
    color: #f6c177;
}

.sticky {
    background-color: #26233a; /* It will take this color after you scroll */
    opacity: 0.9;
}
/* END Nav Bar */

.user-card {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 2.3rem;
    color: #e0def4;
    padding-top: 6%;
    padding-bottom: 6%;
}

.avatar {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    border: 10px solid #26233a;
    position: relative;
}

#avatar {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
}

.hover {
    transform: scale(1.2);
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

header {
    padding-top: 60px; /* This fixes the text/colors not touching the margins */
    padding-bottom: 60px;
    text-align: center;
    color: #9ccfd8;
    background-color: #191724;
    text-transform: uppercase;
    font-size: 33px;
}

h4 {
    color: #c4a7e7;
}

footer {
    background-color: peru;
    /* clear: both; */
    /* padding: 50px 0; */
    /* text-align: center; */
}

section {
    position: relative;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
}

.green {
    background: #31748f;
}

.green-divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.green-divider svg {
    position: relative;
    display: block;
    width: calc(103% + 1.3px);
    height: 77px;
}

.green-divider .shape-fill {
    fill: #191724;
}

.pink {
    background: #ff0066;
}

.dark {
    background: #0f0f10;
}

.main {
    flex-grow: 1;
}

.footer {
    /* position: absolute; */
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.footer svg {
    position: relative;
    display: block;
    width: calc(111% + 1.3px);
    height: 139px;
}

.footer .shape-fill {
    fill: #3b365a;
}

footer {
    background-color: #3b365a;
}
