h1 {
    color: #999;
}
 .custom-shape-divider-top-1645651707 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1645651707 svg {
    position: relative;
    display: block;
    width: calc(112% + 1.3px);
    height: 65px;
}

.custom-shape-divider-top-1645651707 .shape-fill {
    fill: #303443;
}

/** For mobile devices **/
@media (max-width: 800px) {
    .custom-shape-divider-top-1645651707 svg {
        width: calc(112% + 1.3px);
        height: 38px;
    }
}
