@import 'fonts/Basier/font-face.css';
@import 'fonts/Basier-Mono/font-face.css';

:root {
  --ff--header: 'PT Sans', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  --ff--dflt: 'Basier Circle', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';

  --wide: 58rem;
  --gap: 0.66rem;
  --br: 0.66rem;

  --base-dark-background-000: #16171d;
  --base-dark-background-100: #1d1e26;
  --base-dark-background-150: #181a20;
  --base-dark-background-200: #2b2a33;

  --accent-violet: #49364c;
  --accent-purple: #915268;
  --accent-peachy: #d4786c;
  --accent-orange: #fbb163;

  --clr-pale-50: #ffffff;
  --clr-pale-100: #fffafa;
  --clr-pale-200: #e6e1e1;
  --clr-pale-300: #ccc8c8;
  --clr-pale-400: #b3afaf;
  --clr-pale-450: #94959a;
  --clr-pale-500: #999696;
  --clr-pale-600: #807d7d;
  --clr-pale-700: #666464;
  --clr-pale-800: #4c4b4b;
  --clr-pale-900: #333232;

  --clr-slate-50: #f8fafc;
  --clr-slate-100: #f1f5f9;
  --clr-slate-200: #e2e8f0;
  --clr-slate-250: #d7dfe9;
  --clr-slate-300: #cbd5e1;
  --clr-slate-350: #b0bccd;
  --clr-slate-400: #94a3b8;
  --clr-slate-500: #64748b;
  --clr-slate-600: #475569;
  --clr-slate-700: #334155;
  --clr-slate-750: #293548;
  --clr-slate-800: #1e293b;
  --clr-slate-900: #0f172a;

  --clr-gray-50: #f9fafb;
  --clr-gray-100: #f3f4f6;
  --clr-gray-200: #e5e7eb;
  --clr-gray-300: #d1d5db;
  --clr-gray-400: #9ca3af;
  --clr-gray-500: #6b7280;
  --clr-gray-600: #4b5563;
  --clr-gray-700: #374151;
  --clr-gray-800: #1f2937;
  --clr-gray-900: #111827;

  --clr-zinc-50: #fafafa;
  --clr-zinc-100: #f4f4f5;
  --clr-zinc-200: #e4e4e7;
  --clr-zinc-300: #d4d4d8;
  --clr-zinc-400: #a1a1aa;
  --clr-zinc-500: #71717a;
  --clr-zinc-600: #52525b;
  --clr-zinc-700: #3f3f46;
  --clr-zinc-800: #27272a;
  --clr-zinc-900: #18181b;

  --clr-neutral-50: #fafafa;
  --clr-neutral-100: #f5f5f5;
  --clr-neutral-200: #e5e5e5;
  --clr-neutral-300: #d4d4d4;
  --clr-neutral-400: #a3a3a3;
  --clr-neutral-500: #737373;
  --clr-neutral-600: #525252;
  --clr-neutral-700: #404040;
  --clr-neutral-750: #333333;
  --clr-neutral-800: #262626;
  --clr-neutral-900: #171717;

  --clr-stone-50: #fafaf9;
  --clr-stone-100: #f5f5f4;
  --clr-stone-200: #e7e5e4;
  --clr-stone-300: #d6d3d1;
  --clr-stone-400: #a8a29e;
  --clr-stone-500: #78716c;
  --clr-stone-600: #57534e;
  --clr-stone-700: #44403c;
  --clr-stone-800: #292524;
  --clr-stone-900: #1c1917;
}

/* Hide scrollbar */
/* TODO(santigo-zero): Avoid hiding the scrollbar. Style it properly */
html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

[data-theme='dark'] {
  --clr-title: var(--clr-slate-50);
  --clr-subtitle: var(--clr-slate-200);
  --clr-text: var(--clr-slate-250);
  --clr-text-muted: var(--clr-pale-450);
  --border-muted: 0.13rem solid var(--clr-text-muted);

  --clr-hover: var(--clr-slate-400);
  --clr-hover-bg: var(--clr-slate-400);
  --clr-clicked: var(--clr-stone-700);

  --clr-background: var(--base-dark-background-000);
  --clr-background-alt: var(--base-dark-background-100);

  --clr-bg-active: var(--base-dark-background-200);

  --clr-border-card: rgba(33 30 42 / 1);
  --clr-border-card-active: rgba(47 46 55 / 1);
}

/* [data-theme='light'] { */
/* 	--clr-title: var(--clr-neutral-800); */
/* 	--clr-subtitle: var(--clr-neutral-750); */
/* 	--clr-background: var(--clr-zinc-100); */
/* } */

::selection {
  color: var(--clr-background);
  background-color: var(--clr-title);
}

html {
  font-family: var(--ff--dflt);
}

.focus {
  display: grid;
  place-content: center;

  width: min(100% - 1rem, var(--wide));
  margin-inline: auto;
}

.wide {
  width: min(100% - 1rem, var(--wide));
}

.wider {
  width: min(100% - 1rem, var(--wide) * 1.5);
}

@media screen and (min-width: 1376px) {
  .wider {
    border: none;
  }
  /* TODO(santigo-zero): Remove this in production */
  /* I need this to visualize the query in dev tools */
}

.banner {
  width: 100%;
  background-color: var(--clr-background-alt);
  border-bottom-right-radius: 1.1rem;
  border-bottom-left-radius: 1.1rem;
  padding: 1.5rem 0.5rem;
  gap: 2rem;
  margin-inline: auto;
  display: grid;
  text-align: center;

  box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.1);
}

.attn {
  border-radius: 1.1rem;
  color: var(--clr-text-muted);
}

.attn:focus-within,
.attn:focus,
.attn-focus,
.attn:hover {
  background-color: var(--clr-bg-active);
  border-top: 0.13rem solid var(--clr-border-card-active);
  border-left: 0.13rem solid var(--clr-border-card-active);
  border-right: 0.13rem solid var(--clr-bg-active);
  border-bottom: 0.13rem solid var(--clr-bg-active);
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.attn:focus-within,
.attn:focus {
  color: var(--clr-subtitle);
}

.attn-border {
  border: var(--border-muted);
  border-radius: 1.1rem;
  background: linear-gradient(
    130deg,
    rgba(43 42 51 / 0.03),
    rgba(255 255 255/ 0.04)
  );
  /* backdrop-filter: blur(30px); */
  /* -webkit-backdrop-filter: blur(30px); */
  border: 0.13rem solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
}

.base {
  background-color: var(--clr-background-alt);
  border-radius: 1.1rem;
  border-top: 0.13rem solid var(--clr-border-card);
  border-left: 0.13rem solid var(--clr-border-card);
  border-right: 0.13rem solid transparent;
  border-bottom: 0.13rem solid transparent;
  /* filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) */
  /*   drop-shadow(0 4px 3px rgb(0 0 0 / 0.1)); */
}

.base-border {
  border: var(--border-muted);
  color: var(--clr-text-muted);
  border-radius: 1.1rem;
}

.act {
  border-radius: 1.1rem;
  transition: background-color 100ms, border 100ms;
  transition-delay: 50ms;
}

.act-active {
  background-color: var(--clr-bg-active);
  border-top: 0.13rem solid var(--clr-border-card-active);
  border-left: 0.13rem solid var(--clr-border-card-active);
  border-right: 0.13rem solid transparent;
  border-bottom: 0.13rem solid transparent;
}

.act-border {
  border: 0.13rem solid transparent;
}

.act:focus-within {
  color: var(--clr-text);
}

.act:focus-within,
.act:hover {
  /* filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) */
  /*   drop-shadow(0 4px 3px rgb(0 0 0 / 0.1)); */
  background-color: var(--clr-bg-active);
  border-top: 0.13rem solid var(--clr-border-card-active);
  border-left: 0.13rem solid var(--clr-border-card-active);
  border-right: 0.13rem solid transparent;
  border-bottom: 0.13rem solid transparent;
}

.act:active {
  color: var(--clr-clicked);
  background-color: var(--clr-background);
  border: 0.13rem solid transparent;
}

h1,
h2,
h3 {
  font-family: var(--ff--header);
}

h1 {
  color: var(--clr-title);
  font-weight: 600;
  font-size: clamp(2.6rem, 8vw, 4.6rem);
  line-height: calc(1.5 * clamp(2.3rem, 8vw, 3.6rem));
}

h2 {
  color: var(--clr-subtitle);
  font-weight: 400;
  font-size: clamp(1.6rem, 8vw, 2.84rem);
  line-height: calc(1.5 * clamp(2.3rem, 8vw, 3.6rem));
}

h3 {
  color: var(--clr-subtitle);
  font-weight: bold;
  font-size: clamp(0.8rem, 8vw, 1.75rem);
  line-height: calc(1.5 * clamp(2.3rem, 8vw, 3.6rem));
}

br {
  margin-top: var(--gap); /* I could use clamp in here */
}

label,
input,
button {
  color: inherit;
  background-color: inherit;
}

p,
pre {
  color: var(--clr-title);
}

small {
  color: var(--clr-text-muted);
  font-size: 103%;
}

p,
label,
input,
button {
  font-size: clamp(0.8rem, 8vw, 1.42rem);
}

strong {
  font-weight: 500;
  color: var(--clr-title);
}

/* @media screen and (min-width: 700px) { */
/* 	p, */
/* 	label, */
/* 	input, */
/* 	button { */
/* 		font-size: clamp(1rem, 8vw, 1.3rem); */
/* 	} */
/* } */

a,
button {
  font-weight: 400;
  font-size: clamp(0.6rem, 8vw, 1.15rem);
  color: var(--clr-title);
}
