@import "fonts/Basier/font-face.css";
@import "fonts/Basier-Mono/font-face.css";

:root {
	--font-default--circle: "Basier Circle", sans-serif;
	--font-default--square: "Basier Square", sans-serif;
	--font-mono--circle: "Basier Mono Circle", monospace;
	--font-mono--square: "Basier Mono Square", monospace;
}

* {
	font-family: var(--font-default--circle);
}

p {
	font-family: var(--font-default--square);
}

h1 {
	font-size: clamp(1rem, 12vw, 4.6rem);
	line-height: clamp(3rem, 16vw, 5.6rem);
	font-weight: 500;
}

h2 {
	font-size: clamp(1rem, 8vw, 1.5rem);
	font-weight: 400;
}
