/* iosevka-latin-400-normal*/
@font-face {
  font-family: 'Iosevka';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('/_app/immutable/assets/iosevka-latin-400-normal.4c3b9312.woff2') format('woff2'), url('/_app/immutable/assets/iosevka-latin-400-normal.6dfaee48.woff') format('woff');
  
}
