span.svelte-1bzmt63 {
  -webkit-text-stroke: 0.2rem var(--color);
  color: transparent;
}
article.svelte-1lq5le6.svelte-1lq5le6 {
  padding: 3rem 0;
  margin-inline: auto;
}
header.svelte-1lq5le6 p.svelte-1lq5le6 {
  color: var(--clr-subtitle);
  max-width: 44ch;
  margin-inline: auto;
}
button.svelte-1lq5le6.svelte-1lq5le6 {
  padding: 0.615rem 1.23rem;
  max-width: max-content;
  margin-inline: auto;
  font-size: unset;
}
small.svelte-1lq5le6.svelte-1lq5le6:active {
  color: inherit;
  background-color: inherit;
}
.sidebar.svelte-1lq5le6.svelte-1lq5le6 {
  display: grid;
  margin-inline: auto;
  grid-template-columns: fit-content(33ch) minmax(min(50vw, 65ch), 1fr);
}
aside.svelte-1lq5le6.svelte-1lq5le6 {
  position: sticky;
  top: 6rem;
  display: grid;
  padding: 1.5rem;
  margin: 1rem;
  place-items: center;
  height: max-content;
  color: var(--clr-subtitle);
}
ul.svelte-1lq5le6.svelte-1lq5le6 {
  display: grid;
  gap: 1rem;
}
.wip.svelte-1lq5le6.svelte-1lq5le6 {
  display: grid;
  place-items: center;
}
