.wrapper-nav.svelte-1avhwbp.svelte-1avhwbp {
	transition: all 0.6s cubic-bezier(0.07, 0.95, 0, 1);
	position: fixed;
	width: 100%;
	display: grid;
	place-items: center;
	background-color: transparent;
	font-size: 20px;
	font-family: Basier Square, sans-serif;
	height: 90px;
	z-index: 9999;
}
.scrolled.svelte-1avhwbp.svelte-1avhwbp {
	box-shadow: 0 -0.4rem 0.9rem 0.2rem #0000004d;
	background-color: #23213299;
	-webkit-backdrop-filter: blur(13px);
	backdrop-filter: blur(13px);
	height: 60px;
}
.hidden.svelte-1avhwbp.svelte-1avhwbp {
	transform: translateY(-130%);
}
nav.svelte-1avhwbp.svelte-1avhwbp {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: min(100% - var(--padding), var(--max-content-width));
	height: 100%;
}
ul.svelte-1avhwbp.svelte-1avhwbp {
	display: flex;
	list-style: none;
}
a.svelte-1avhwbp.svelte-1avhwbp {
	text-decoration: none;
	color: var(--cc-fg);
	transition: all 0.3s ease 0s;
	padding: var(--padding) var(--padding-inline);
}
a.svelte-1avhwbp.svelte-1avhwbp:hover {
	color: var(--cc4-fg);
}
h3.svelte-1avhwbp a.svelte-1avhwbp {
	font-family: Inter, sans-serif;
	font-weight: 800;
}
button.svelte-1avhwbp.svelte-1avhwbp {
	display: none;
}
@media only screen and (max-width: 43.75rem) {
	button.svelte-1avhwbp.svelte-1avhwbp {
		display: block;
		z-index: 9999;
		background-color: inherit;
		color: var(--cc2-fg);
		border: none;
		font: inherit;
		cursor: pointer;
		height: 100%;
		width: 3rem;
	}
	ul.svelte-1avhwbp.svelte-1avhwbp {
		display: none;
	}
	.ulMobile.svelte-1avhwbp.svelte-1avhwbp {
		position: fixed;
		display: flex;
		flex-direction: column;
		place-items: center;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 0;
		margin: 0;
		width: 100vw;
		height: 100vh;
		padding-top: 3rem;
		gap: var(--padding);
		box-shadow: 0 -0.4rem 0.9rem 0.2rem #0000004d;
		background-color: #23213299;
		-webkit-backdrop-filter: blur(13px);
		backdrop-filter: blur(13px);
	}
}
.wrapper-footer.svelte-bkie8v.svelte-bkie8v {
	background-color: var(--cc2-bg2);
	display: grid;
	place-items: center;
}
.container.svelte-bkie8v.svelte-bkie8v {
	display: grid;
	width: 100%;
	place-items: center;
	width: min(100% - var(--padding), var(--max-content-width));
	padding: var(--padding);
	gap: calc(var(--padding) + 1rem);
	padding-inline: 0;
}
section.svelte-bkie8v.svelte-bkie8v {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	min-height: 60px;
	width: 100%;
	gap: 2rem;
	font-size: 18px;
	background-color: var(--cc2-bg2);
	color: var(--cc4-fg);
}
ul.svelte-bkie8v.svelte-bkie8v {
	display: flex;
	place-items: center;
	flex-direction: row;
	gap: 0.6rem;
}
li.svelte-bkie8v.svelte-bkie8v {
	list-style-type: none;
}
a.svelte-bkie8v.svelte-bkie8v {
	text-decoration: none;
	color: var(--cc4-fg);
}
a.svelte-bkie8v.svelte-bkie8v:hover {
	color: var(--cc2-fg);
}
p.svelte-bkie8v:hover .fa-heart.svelte-bkie8v,
a.svelte-bkie8v:hover .fa-star.svelte-bkie8v {
	color: #dc143c;
}
a.svelte-bkie8v:hover .fa-star.svelte-bkie8v {
	color: orange;
}
.fa-heart.svelte-bkie8v.svelte-bkie8v,
.fa-star.svelte-bkie8v.svelte-bkie8v,
a.svelte-bkie8v.svelte-bkie8v,
p.svelte-bkie8v.svelte-bkie8v {
	transition: all 0.3s ease 0s;
}
.that.svelte-bkie8v.svelte-bkie8v {
	flex-wrap: wrap;
	gap: 1rem;
}
@media screen and (max-width: 43.75em) {
	.this.svelte-bkie8v.svelte-bkie8v,
	.that.svelte-bkie8v.svelte-bkie8v {
		flex-direction: column-reverse;
		gap: 1rem;
		text-align: center;
	}
	.separator.svelte-bkie8v.svelte-bkie8v {
		display: none;
	}
	ul.svelte-bkie8v.svelte-bkie8v {
		flex-direction: column;
	}
	.wrapper-footer.svelte-bkie8v.svelte-bkie8v {
		gap: 3rem;
	}
}
.wrapper {
	color: var(--cc-fg);
}
