.wrapper-home.svelte-1hsl2kx {
	display: grid;
	place-items: center;
	min-height: 100vh;
	background-color: var(--cc2-bg);
}
main.svelte-1hsl2kx {
	max-width: 60rem;
}
h1.svelte-1hsl2kx {
	font-size: clamp(1rem, 14vw, 4.4rem);
	line-height: clamp(3rem, 18vw, 5.6rem);
	font-weight: 600;
	padding-bottom: 1.1rem;
}
p.svelte-1hsl2kx {
	font-family: Inter, sans-serif;
	margin-left: 0.8ch;
	font-size: clamp(20px, 10vw, 26px);
	color: var(--cc-vanilla-red);
}
h2.svelte-1hsl2kx {
	font-size: clamp(1rem, 10vw, 1.5rem);
	font-family: Inter, sans-serif;
	font-weight: 400;
}
