.wrapper-home.svelte-1oa6y9m {
	display: grid;
	place-items: center;
	background-image: radial-gradient(
		70% 50% at 100% 23%,
		#3e4352,
		var(--cc2-bg)
	);
	min-height: 100vh;
}
header.svelte-1oa6y9m {
	width: min(100% - var(--padding), var(--max-content-width));
	padding: 6rem 0;
}
h1.svelte-1oa6y9m {
	padding-bottom: 1.3rem;
}
strong {
	color: transparent;
	-webkit-text-stroke-width: 1.3px;
	-webkit-text-stroke-color: var(--cc2-fg);
}
.wrapper-projects.svelte-8ai06x.svelte-8ai06x {
	display: grid;
	place-items: center;
	min-height: 100vh;
	background-color: #1a1724;
}
main.svelte-8ai06x.svelte-8ai06x {
	padding: var(--padding);
	padding-inline: var(--padding-inline);
	max-width: 66rem;
	width: 100%;
}
h1.svelte-8ai06x.svelte-8ai06x {
	font-size: clamp(1rem, 14vw, 3.3rem);
	line-height: clamp(3rem, 18vw, 4.5rem);
	font-weight: 600;
	padding-bottom: 1.3rem;
}
h2.svelte-8ai06x.svelte-8ai06x {
	color: var(--cc-pale-blue);
	font-size: clamp(1rem, 10vw, 1.5rem);
	font-family: Inter, sans-serif;
	font-weight: 400;
}
section.svelte-8ai06x.svelte-8ai06x {
	display: grid;
	gap: 1.05rem;
	grid-auto-rows: minmax(28rem, auto);
	grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
	padding-top: calc(var(--padding) * 3);
	width: 100%;
}
article.svelte-8ai06x.svelte-8ai06x {
	background-color: var(--cc2-bg2);
	border-radius: 12px;
	border-color: var(--cc2-bg-status);
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	overflow: auto;
	gap: 0.6rem;
	display: flex;
	align-content: center;
	flex-direction: column;
	box-shadow: 3px 6px 9px #0000001a;
	animation: svelte-8ai06x-growCard 0.6s;
	transition: all 0.1s ease-out;
}
article.svelte-8ai06x.svelte-8ai06x:hover {
	transform: scale(1.03);
}
article.svelte-8ai06x p.svelte-8ai06x {
	margin-inline: 8px;
	font-size: 1.2rem;
	font-weight: 400;
}
@keyframes svelte-8ai06x-growCard {
	0% {
		transform: scale(0.6);
	}
	to {
		transform: scale(1);
	}
}
h3.svelte-8ai06x.svelte-8ai06x {
	color: var(--fg);
	font-size: 1.4rem;
	font-weight: 400;
	text-align: center;
	margin-bottom: 6px;
}
.card_status.svelte-8ai06x.svelte-8ai06x {
	font-family: Inter, sans-serif;
	box-shadow: 3px 6px 9px #0000001a;
	background-color: var(--cc2-bg-status);
	color: var(--cc2-fg-status);
	border-radius: 6px;
	padding: 3px 10px;
	margin-inline: 2px;
}
.header.svelte-8ai06x.svelte-8ai06x {
	background-color: var(--cc2-header);
	padding: 6px 6px 10px;
}
.project_img_first.svelte-8ai06x.svelte-8ai06x {
	background: rgb(34, 193, 195);
	background: linear-gradient(
		114deg,
		rgba(34, 193, 195, 1) 0%,
		rgba(253, 187, 45, 1) 100%
	);
	max-width: 100%;
	height: 88px;
	border-radius: 6px;
	margin-inline: 8px;
}
.project_img_zap.svelte-8ai06x.svelte-8ai06x {
	background: rgb(255, 228, 56);
	background: linear-gradient(
		90deg,
		rgba(255, 228, 56, 1) 0%,
		rgba(252, 70, 87, 1) 100%
	);
	max-width: 100%;
	height: 88px;
	border-radius: 6px;
	margin-inline: 8px;
}
.status.svelte-8ai06x.svelte-8ai06x {
	display: flex;
	flex-wrap: wrap;
	gap: 0.4rem;
}
a.svelte-8ai06x.svelte-8ai06x {
	background-image: linear-gradient(
		90deg,
		var(--cc-vanilla-red),
		var(--cc-pale-blue)
	);
	background-size: 0% 3px;
	background-repeat: no-repeat;
	background-position: left bottom;
	transition: background-size 333ms ease;
	text-decoration: none;
	color: var(--cc-fg);
	padding-bottom: 3px;
}
a.svelte-8ai06x.svelte-8ai06x:hover {
	background-size: 100% 3px;
}
@media only screen and (max-width: 51em) {
	.svelte-8ai06x.svelte-8ai06x {
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
}
@media only screen and (max-height: 50rem) {
	main.svelte-8ai06x.svelte-8ai06x {
		padding: calc(var(--padding) + 3rem);
		padding-inline: var(--padding-inline);
	}
}
.wrapper-about.svelte-tkks0 {
	display: grid;
	place-items: center;
	background-color: var(--cc2-bg);
	min-height: 100vh;
}
header.svelte-tkks0 {
	margin-inline: auto;
	width: min(100% - var(--padding), var(--max-content-width));
	display: grid;
	grid-template-columns: fit-content(33ch) minmax(min(50vw, 30ch), 1fr);
	padding: 6rem 0;
}
section.svelte-tkks0 {
	display: grid;
	gap: 1rem;
	padding: 0;
	margin: 0;
}
h2.svelte-tkks0 {
	font-size: clamp(1rem, 10vw, 2.3rem);
	font-weight: 300;
}
p.svelte-tkks0 {
	font-size: 1.2rem;
	font-weight: 400;
}
