@import "fonts/Basier/font-face.css";
@import "fonts/Basier-Mono/font-face.css";

:root {
	--cc-fg: #e8e8e8;
	--cc-bg: #16171d;

	--cc-vanilla: #f3e5ab;
	--cc-vanilla-red: #f38fa9;
	--cc-dark-purple: #8e78aa;
	--cc-light-purple: #c1abf3;
	--cc-pale-blue: #abb9f3;
  --cc-grey: #3e4352;

	--cc2-bg: #1b1a27;
	--cc2-bg2: #232132;
	--cc2-fg: #f9f8ff;

	--cc2-header: #2b293c;

	--cc2-bg-status: #363448;
	--cc2-fg-status: #7c7b8b;

	--cc3-fg: #c3c3c8;
	--cc4-fg: #9da1b4;

	--max-content-width: 60rem;
	--padding: 1.3rem;
	--padding-inline: 0.6rem;
}

::selection {
	color: #8ff3d9;
	background-color: var(--cc-vanilla-red);
}
