.card {
  background-color: var(--bg-light);
  border-radius: 12px;
  min-height: 33rem;
  min-width: 21rem;
  overflow: auto;

  gap: 0.6rem;

  display: flex;
  align-content: center;
  flex-direction: column;
  box-shadow: 3px 6px 9px rgba(0, 0, 0, 0.1);

  /* border-style: solid; */
  /* border-color: var(--bg-header); */
  /* border-width: 1px; */

  /* border-style: solid; */
  /* border-color: orange; */
  /* border-width: 1px; */
}

.card_title {
  color: var(--fg);
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 6px;
}

.card_status {
  font-family: "Inter", sans-serif;
  box-shadow: 3px 6px 9px rgba(0, 0, 0, 0.1);
  background-color: var(--bg-status);
  color: var(--fg-status);
  /* border-radius: 10px; */

  border-top-left-radius: 6px 6px;
  border-top-right-radius: 6px 6px;
  border-bottom-right-radius: 6px 6px;
  border-bottom-left-radius: 6px 6px;

  padding: 3px 10px;
  /* margin-inline: 2px; */
  /* padding-bottom: 5px; */
}

.card p {
  margin-inline: 8px;
  font-size: 1.2rem;
  font-weight: 400;
}

.header {
  background-color: var(--bg-header);
  padding: 6px;
  padding-bottom: 10px;
  /* background-color: green; */
}

.project_img_first {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    114deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );

  max-width: 100%;
  height: 88px;
  border-radius: 6px;
  margin-inline: 8px;
}

.project_img_zap {
  background: rgb(255, 228, 56);
  background: linear-gradient(
    90deg,
    rgba(255, 228, 56, 1) 0%,
    rgba(252, 70, 87, 1) 100%
  );

  max-width: 100%;
  height: 88px;
  border-radius: 6px;
  margin-inline: 8px;
}

.status {
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  gap: 0.4rem;
}
