@import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");

:root {
  --bg: #1b1a27;
  --bg-light: #232132;
  --fg: #f9f8ff;

  --bg-header: #2b293c;

  --bg-status: #363448;
  --fg-status: #7c7b8b;

  --dark-purple: #8e78aa;
  --light-purple: #c1abf3;
  --color-vanilla: #f3e5ab;
  --color-vanilla-red: #f38fa9;
  --pale-blue: #abb9f3;
  --font-family: "Satoshi", sans-serif;
  --secondary-font-family: "Inter", sans-serif;
}

/* Change the color of text selected with the cursor */
::selection {
  background-color: var(--dark-purple);
  color: var(--fg);
}

html {
  scroll-behavior: smooth;
}

body,
footer,
section {
  color: var(--fg);

  display: grid;
  place-items: center;
  align-content: center;
  /* width: 100%; */

  font-family: var(--font-family);
  background: var(--bg);
}

section {
  min-height: 100vh;
  /* This _should_ limit the blank space on the sides for all the sections,
  * maybe I should delete it. */
  max-width: 66em;
  margin-inline: 6px;
}

.projects {
  /* border-style: solid; */
  /* border-color: blue; */
  /* border-width: 1px; */
  background-color: var(--bg);
  gap: 3rem;
  padding: 2rem 0;
}

.projects-header {
  text-align: center;
  color: var(--fg);
}

.projects-title {
  color: var(--fg);
  font-size: 1rem;
  font-weight: 400;
}

.projects-header h2 {
  font-size: 3rem;
  font-weight: 500;
  font-family: var(--secondary-font-family);
}

.projects-header p {
  font-size: 28px;
  font-weight: 500;
  margin: 15px;

  color: var(--light-purple);
  color: var(--pale-blue);
}

.link {
  background-image: linear-gradient(
    90deg,
    var(--color-vanilla-red),
    var(--pale-blue)
  );
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 333ms ease;
  text-decoration: none;
  color: var(--color-vanilla);
  padding-bottom: 3px;
}

.link:hover {
  background-size: 100% 3px;
}

@media (max-width: 67em) {
  .projects-header h2 {
    font-size: 2rem;
  }

  .projects-header p {
    font-size: 22px;
  }
}
